.indentation0 {
	margin: 0rem;
}

.indentation1 {
	margin-left: 0rem;
}

.indentation2 {
	margin-left: 2rem;
}

.indentation3 {
	margin-left: 4rem;
}

.indentation4 {
	margin-left: 6rem;
}

.indentation5 {
	margin-left: 8rem;
}

.indentation6 {
	margin-left: 10rem;
}

.reshenieto img {
	width: 100%;
}

.discussion {
	font-size: 90%;
}

.discussion img {
	width: 100%;
}

.feedback img {
	width: 100%;	
}
