:root {
	--ck-z-default: 100;
	--ck-z-modal: calc(var(--ck-z-default)+ 999);
	--color-incorrect-wrong: #600f16ff;
	/* https://www.w3schools.com/colors/colors_british.asp - Carnival red */
	--color-incorrect: #e1553eff;
	/* https://www.w3schools.com/colors/colors_british.asp - Bright green / Goblin / Garland */
	--color-correct: #74b979ff;
	/* https://www.w3schools.com/colors/colors_british.asp - Olive green */
	--color-correct-better: #484837ff;
	--color-noevaluation: #white;
	--color-exception: #404040;
	--main-bg-color-accent: #eceef3ff;
	--main-bg-color-accent2: #00000080;
	--inlinecomment-bg-color: #cfef60;
}

@media ( prefers-color-scheme : dark) {
	:root {
		--main-bg-color: #260661ff;
		--main-bg-color2: #260661ff;
		--main-bg-color3: #42119cff;
		--main-bg-color-box: #42119cff;
		--main-bg-color-accent: #330B7Dff;
		--main-bg-color-accent2: #00000080;
		--main-font-color: white;
		--main-font-color-hover: #E9FA5A;
		--main-link-color: #A074F0;
		--yt-font-color: #8E6600;
		--sidebar-bg-color: #260661ff;
		--main-border-color: rgb(0, 0, 0, 0.15);
		--main-underline-color: rgba(255, 255, 255, 128);
		--light: #080704;
		--dark: #d4dac0;
		--bs-body-bg: rgb(16, 16, 16);
		--bs-body-color: white;
		--bs-light-rgb: rgba(42, 42, 42, 0.5);
		--bs-bg-opacity: rgba(42, 42, 42, 0.5);
		/* https://www.w3schools.com/colors/colors_british.asp - Carnival red */
		--color-incorrect: #7b000c;
		/* https://www.w3schools.com/colors/colors_british.asp - Bright green / Goblin / Garland */
		--color-correct: #277c2c;
		--inlinecomment-bg-color: #8faf10;
	}
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Fira Sans', Helvetica, Arial, sans-serif !important;
}

h1, .h1 {
	font-size: 200%;
}

h2, .h2 {
	font-size: 160%;
}

h3, .h3 {
	font-size: 130%;
}

body {
	padding-top: 4.5em;
}

code {
	font-family: 'Fira Code', 'Fira Mono', monospace, mono !important;
}

.color-queryError {
	background: var(--color-incorrect);
	color: white;
}

.color-queryCorrect {
	background: var(--color-correct);
	color: black;
}

.result-queryError {
	background: var(--color-incorrect);
}

.result-queryCorrect {
	background: var(--color-correct);
}

.result-passed {
	font-weight: 900;
	color: #a0ffa0;
}

.result-notpassed {
	color: white;
}

.centered-hv {
	text-align: center;
	vertical-align: middle;
}

p.comment {
	background: #ffff80;
}

.inlinecomment {
	background: var(--inlinecomment-bg-color);
	margin-left: 5rem;
	border-left: 1px solid black;
	padding: 0.1rem;
	padding-left: 0.5rem;
}

@keyframes slidein {
	from { 
		background:white; 
	}
	50% { 
		background:#ffffa0; 
	}
	to { 
		background: white; 
	}
}

.pagination li {
	margin-left: 0.5em;
}

#mainnav {
	background-color: #42119c !important; /* osnovna boja */
}

#mainnav .nav-link {
	/* Paletton Shiny */
	color: #A074F0 !important;
}

a {
	color: #42119c;
}

svg {
	fill: transparent;
	stroke: currentColor;
	stroke-width: 0.1em;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.maxpoints {
	background: #c0c0c0;
	font-weight: bold;
	border-radius: 0.25em;
	padding: 0.2em;
}

.CodeMirror {
	border: 1px solid grey;
	line-height: 1.2;
	height: 25rem !important;
	min-height: 10em;
	font-family: 'Fira Code', monospace, mono !important;
}

.CodeMirror-linenumbers {
	padding: 0 0;
}

.datefield-popup {
	background: white;
	padding: 0.5em;
	border-radius: 6px;
	border: 1px solid black;
}

.glyphicon-calendar {
	background-color: var(--light);
	color: var(--dark);
}

.glyphicon-calendar::before {
	content: "📅";
}

.solutionCorrect {
	background-color: var(--color-correct) !important;
}

.solutionInCorrect {
	background-color: var(--color-incorrect) !important;
}

@media ( prefers-color-scheme : dark) {
	a {
		color: #E2F72F;
	}
	a:hover {
		color: #A1B400;
	}
	body {
		background-color: var(--main-bg-color2);
		color: var(--main-font-color);
	}
	.card {
		background-color: var(--main-bg-color) !important;
		border-color: var(--main-bg-color3) !important;
	}
	.card-header {
		background-color: var(--main-bg-color-accent) !important;
	}
    .testType .card-header.bg-success {
            background-color: var(--color-correct) !important;
    }
	.card-header h3 {
		color: var(--main-font-color) !important;
	}
	.bg-light {
		background-color: var(--main-bg-color3) !important;
	}
	.table {
		color: var(--main-font-color);
	}
	.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
		background-color: var(--main-bg-color-accent);
		color: var(--main-font-color-hover);
	}
	.dropdown-menu {
		background-color: var(--main-bg-color2);
	}
	.dropdown-menu a {
		color: var(--main-link-color) !important;
	}
	pre {
		color: var(--main-font-color);
	}
	.modal-content {
		background-color: var(--main-bg-color2);
		border-color: var(--main-bg-color2);
	}
	.cke_wysiwyg_frame {
		background-color: #6060ff !important;
	}
	p.comment {
		background: #7C8B00;
	}
}