.correct {
	/*
		https://www.w3schools.com/colors/colors_british.asp - Green */
	background: var(--color-correct);
}

.incorrect {
	/*
		https://www.w3schools.com/colors/colors_british.asp - Carnival red */
	background: var(--color-incorrect);
	color: white;
}

td[data-grid-property=submission] {
	font-family: mono;
	white-space: pre-wrap;
	font-size: 75%;
	overflow: scroll !important;
}

td[data-grid-property=submittedOn] {
	width: 14rem !important;
}

code {
	font-family: 'Fira Code', monospace, mono;
	font-size: 75% !important;
}

.code {
	max-height: 25rem;
}

.feedback {
	overflow-wrap: normal;
	overflow: auto;
	hyphens: auto;
	max-height: 20rem;
}

.img100pct img {
	width: 95%;
}

.imgMaxHeight img {
	object-fit: contain;
	max-height: 40rem;
}

hr {
	size: 2;
}

.solution {
	overflow-x: auto;
	overflow-y: auto;
	max-height: 25rem;
}