.sqlcode {
	padding: 0.1em !important;
	font-size: 75%;
	/*white-space: pre-wrap;
	break-word: all;*/
	overflow: scroll;
}

.colSql {
	
}

th {
/*
	font-size: 65% !important;
	overflow: scroll;
*/
}


code p {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
}

.submittedCode {
	max-width: 60em;
	max-height: 12em;
}

#zSolution {
	min-height:30em !important;
}

.modalSubmission {
	max-height: 10em !important;
	background: #e0e0e0 !important;
	padding: 0.5em !important;
}

pre#kodot {
	font-size: 75% !important;
	line-height: 0.8em !important;
	height: 25.5em !important;
	overflow: auto;
	white-space: pre-wrap !important;
}

pre#kodot img {
	max-width: 200%;
}

.feedback {
	max-height: 10em !important;
	background: white !important;
	padding: 0.25em;
	/* 	max-width: 15em; */
	z-index: 5000 !important;
}

.feedback .comment {
	background: yellow;
}

.feedback .inlinecomment {
	background: yellow;
}

.feedback img {
	width:120%;
}

table tbody tr.correct {
	background: var(--color-correct) !important;
}

table tbody tr.incorrect {
	background: var(--color-incorrect) !important;
}

table tbody tr.noeval {
	background: var(--color-noevaluation) !important;
}

table tbody tr.exception {
	background: var(--color-exception) !important;
}

#solution {
	min-height: 20em;
}

.modal #solution {
	min-height: 50em !important;
}
.nonSqlSolution .code {
	white-space: pre-wrap;
	break-word: all;
	line-height:1.2em;
}

.sqlSolution .code {
	font-size:80%;
	line-height:1em;
}

.correct svg {
	stroke: black !important; 
	stroke-width: 2px !important;
}

.incorrect svg {
	stroke: black !important; 
	stroke-width: 2px !important;
}

.inSubmission {
	background: green;
	color: white;
	padding:0.1em;
}

.inCorrectSolution {
	background: white;
	color: black;
	padding:0.1em;
}


/* fullscreen modal */
.modal {
  padding: 0 !important;
}

.modal .modal-dialog {
  width: 100%;
  max-width: none;
  height: 100%;
  margin: 0;
}

.modal .modal-content {
  height: 100%;
  border: 0;
  border-radius: 0;
}

.modal .modal-body {
  overflow-y: auto;
}
