.resultschema {
	display: none;
}

td {
	font-size: 90%;
	line-height: 1.05em !important;
}

.popupZone {
	position: fixed;
	top: 5em;
	bottom: 5em;
	left: 5em;
	right: 5em;
	background: white;
	border: 1px solid black;
	border-radius: 12px;
	padding: 2em;
	overflow: scroll;
}

#testInstanceEditZone {
	visible: hidden;
}

.maxpoints {
	background: #c0c0c0;
	font-weight: bold;
	border-radius: 6px;
	padding: 0.2em;
}
